<br>
<br>
<br>



<section class="header2 cid-s7unCfUqzs" id="header2-3">





    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column mbr-black col-md-10">
                <h2 class="mbr-section-subtitle align-center mbr-fonts-style display-5">
                    <em><strong>Welcome to</strong></em>
                </h2>
                <h1 class="mbr-section-title align-center pb-2 mbr-fonts-style mbr-bold display-1">
                    Javi's Gourmet

                </h1>

                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                    The secret is in the passion
                </p>

            </div>
        </div>
    </div>

</section>

<section class="mbr-section content2 cid-s7uvgIrfke" id="content2-g">



    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-sm-12 text-section">
                <div class="logo align-center pb-3">
                    <a href="https://mobirise.com">
                        <img src="assets/images/logo1.png" alt="Mobirise" title="" style="height: 8rem;">
                    </a>
                </div>
                <h3 class="mbr-section-title mbr-fonts-style align-center pb-4 display-5">
                    Chase the flavors
                </h3>
                <p class="mbr-fonts-style mbr-text align-center display-7">
                    Javi's Gourmet meal plan offers you the opportunity to enjoy a balanced and tasty weekly menu, as if you were in a restaurant but in the comfort of your home or work!
                </p>
            </div>
        </div>
    </div>
</section>



<section class="features7 cid-s7uuSzw5iq" id="features7-d">




    <div class="container">
        <div class="row justify-content-center">
            <div class="card p-3 col-sm-12 col-md-6 align-center col-lg-3">
                <div class="mx-4">
                    <div class="card-img pb-4">
                        <span class="mbr-iconfont mbri-star"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-5">
                            Quality Foods
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            All dishes are freshly prepared and delivered daily using totally natural fresh ingredients.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-sm-12 col-md-6 align-center col-lg-3">
                <div class="mx-4">
                    <div class="card-img pb-4">
                        <span class="mbrib-delivery mbr-iconfont"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-5">
                            Fastest delivery
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Fast delivery to your home, office or school totally free with a drink included.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-sm-12 col-md-6 align-center col-lg-3">
                <div class="mx-4">
                    <div class="card-img pb-4">
                        <span class="mbrib-bookmark mbr-iconfont"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-5">
                            Recipes
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Wide variety of dishes prepared by chef javier Menendez that guarantee high quality levels in each of te dishes.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-sm-12 col-md-6 align-center col-lg-3">
                <div class="mx-4">
                    <div class="card-img pb-4">
                        <span class="mbr-iconfont mbri-mobile2"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-5">Purschase online</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Easy and secure online payment system.
                        </p>
                    </div>
                </div>
            </div>




        </div>
    </div>
</section>

<section class="cid-s7vBR7ZvXt" id="footer1-18">





    <div class="container">
        <div class="row justify-content-center">

            <div class="icons-block col-sm-12 col-md-10 align-center">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="icon-transition" href="#">
                            <span class="mbr-iconfont socicon-facebook socicon"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="icon-transition" href="#">
                            <span class="mbr-iconfont socicon-twitter socicon"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="icon-transition" href="#">
                            <span class="mbr-iconfont socicon-linkedin socicon"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="icon-transition" href="#">
                            <span class="mbr-iconfont socicon-youtube socicon"></span>
                        </a>
                    </li>


                </ul>
            </div>
            <div class="logo-section col-sm-12 col-lg-4 align-center">
                <a href="#"><img src="assets/images/logo1.png" height="128" alt="Mobirise" style="height: 8rem;"></a>
            </div>
        </div>
    </div>
</section>