<section id="wrapper">
    <div class="login-register" style="background-image:url(./assets/login/images/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" id="loginform" (ngSubmit)="login()" [formGroup]="loginForm" autocomplete="off">
                    <h3 class="box-title m-b-20">Sign In</h3>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" placeholder="Username" formControlName="name"> </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" placeholder="Password" formControlName="password"> </div>
                    </div>
                    <div class="row">
                        <div class="col text-danger">
                            <p *ngIf="invalidField('name')">The name is required</p>

                            <p *ngIf="invalidField('password')">The password is required</p>


                        </div>
                    </div>


                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20">
                            <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Log In</button>
                        </div>
                    </div>

                </form>


            </div>
        </div>
    </div>

</section>